@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

:root {
  font-family: Jockey One;
  line-height: 1.5;
  font-weight: 400;
  --bg: #D9D9D9;
  --main: #333232;
  --second: #666;
  --hover: #BB342F;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: 'Jockey One';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

//--------------------------------Homepage--------------------------------

.home {
  display: flex; /* Používáme flexbox pro centrální zarovnání */
  justify-content: center; /* Vertikální vycentrování */
  align-items: center; /* Horizontální vycentrování */
  min-height: 100vh; /* Nastavíme výšku na 100% výšky okna */
  padding-top: 60px; /* Prostor pro navbar */
}

.home-container {
  width: 100%;
  max-width: 1240px; /* Maximální šířka kontejneru */
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* Zobrazí obsah vertikálně */
  align-items: center; /* Horizontální vycentrování */
  justify-content: center; /* Vertikální vycentrování */
}

.home-title {
  font-size: 13.5rem; /* Velikost hlavního nadpisu */
  font-weight: bold;
  color: var(--main);
  margin: 20% 0 0 0;
  text-align: center;
}
.home-title span {
  display: inline-block;  /* Zajistí, že písmena budou vedle sebe */
  transform-origin: center center;  /* Upravíme původní bod pro rotace a deformace */
}
.letter {
  display: inline-block; /* Aby písmena byla vedle sebe */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Plynulé přechody pro transformaci */
}
.space {
  display: inline-block;
  width: 1rem;  /* Můžeš upravit podle potřeby */
}
.sub-title {
  font-size: 1.8rem;
  color: var(--second);
  margin: 20px 0;
  text-align: left;
}

.links {
  margin-top: 30px;
}
.link {
  position: relative;
  font-size: 1.5rem;
  margin: 10px;
  color: var(--main);
  text-decoration: none;
  transition: color 0.3s ease;
  display: inline-block;
}

.link span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #BB342F;
  transition: width 0.3s ease;
}

.link:hover {
  cursor: pointer;
}

.link:hover span {
  width: 100%; /* Ukáže podtržení při hoveru */
}

.link {
  font-size: 1.5rem;
  margin: 10px;
  color: var(--main);
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--hover);
}

/* Responsive design pro menší obrazovky */
@media (max-width: 768px) {
  .home-title {
    font-size: 3rem;
  }
  .sub-title {
    font-size: 1.5rem;
  }
}
